body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  -ms-overflow-style: none !important;
}

.chat-bubble {
  width: fit-content;
  max-width: 70%;
  height: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: 2px;
}

.chat-bubble p {
  margin-bottom: 0px;
}

.chat-bubble-sent {
  text-align: right;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.chat-bubble-received {
  text-align: left;
  color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat-bubble-first {
  margin-top: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chat-bubble-last {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.row-height {
  height: 100vh;
}

.chat-window, .sidebar {
  overflow-y: scroll;
  height: 100vh;
}

.sidebar {
  background-color: #eceff1;
}

.chat-window {
  background-color: white;
  padding-bottom: 65px;
}

.chat-input {
  width: inherit;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.col-fit-width {
  width: fit-content
}

.circular-btn {
  border-radius: 20px !important;
  height: 42px;
  width: 42px;
}

.message-input {
  border-radius: 20px !important;
  height: 100%;
}

.chat-button:hover {
  background-color: #d9dcde;
  cursor: pointer;
}