body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  -ms-overflow-style: none !important;
  }

.chat-bubble {
  width: fit-content;
  max-width: 70%;
  height: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: 1px;
}

.chat-bubble p {
  margin-bottom: 0px;
}

.chat-bubble-sent {
  text-align: right;
  background-color: #29b6f6;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.chat-bubble-received {
  text-align: left;
  background-color: #eceff1;
  color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat-bubble-first {
  margin-top: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chat-bubble-last {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.row-height {
  height: 100vh;
}

.chat-window, .sidebar {
  height: 100%;
  overflow-y: scroll;
}

.sidebar {
  background-color: #eceff1;
}

.chat-window {
  background-color: white;
  padding-bottom: 15px;
}